In [20]:
import pandas as pd

In [21]:
vendasglobais = pd.read_csv('Dados/VendasGlobais.csv')

In [22]:
vendedores = pd.read_csv('Dados/Vendedores.csv')

In [23]:
fornecedores = pd.read_csv('Dados/Fornecedores.csv')

In [24]:
transportadoras = pd.read_csv('Dados/Transportadoras.csv')

In [25]:
planilha_total = pd.merge(vendasglobais, vendedores, on='VendedorID')
planilha_total = pd.merge(planilha_total, fornecedores, on='FornecedorID')
planilha_total = pd.merge(planilha_total, transportadoras, on='TransportadoraID')

planilha_total.head()

,PedidoID,CategoriaID,CategoriaNome,CategoriaDescrição,ClienteID,ClienteNome,ClienteContato,ClienteCidade,ClientePaísID,ClientePaís,...,Qtde,Data,VendedorID,ProdutoID,ProdutoNome,TransportadoraID,FornecedorID,VendedorNome,FornecedorNome,TransportadoraNome
0,10413.0,1.0,Men´s Clothes,Fashion for Men,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,24.0,20/10/2010,5.0,1.0,Lenin Jeansshorts,1.0,1.0,Stefanos Tsitsipas,USA Jeans,General Shipping
1,10500.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,12.0,14/04/2011,5.0,15.0,Sumi Underwear,1.0,6.0,Stefanos Tsitsipas,Surf Trip,General Shipping
2,10832.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,16.0,19/11/2011,5.0,44.0,Okkaba Skin Jackets,1.0,20.0,Stefanos Tsitsipas,Wills Surfwear,General Shipping
3,10923.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,24.0,05/06/2012,4.0,67.0,X-Dress,1.0,16.0,Patrick Mcenroe,L.A. Sports,General Shipping
4,10413.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,14.0,20/10/2010,5.0,76.0,Minnki Pälsii,1.0,23.0,Stefanos Tsitsipas,Pälsii Sports,General Shipping