In [1]:
import pandas as pd

In [8]:
vendasglobais = pd.read_csv('Dados/VendasGlobais.csv')
vendasglobais = vendasglobais.dropna(axis=0, how='all')
len(vendasglobais.axes[0])

2172

In [12]:
pd.DataFrame(vendasglobais.dtypes)

                          0
PedidoID            float64
CategoriaID         float64
CategoriaNome        object
CategoriaDescrição   object
ClienteID           float64
ClienteNome          object
ClienteContato       object
ClienteCidade        object
ClientePaísID        object
ClientePaís          object
Vendas Custo        float64
Margem Bruta        float64
Vendas              float64
Desconto            float64
Frete               float64
Qtde                float64
Data                 object
VendedorID          float64
ProdutoID           float64
ProdutoNome          object
TransportadoraID    float64
FornecedorID        float64

In [13]:
vendasglobais['Vendas Custo'].head(10)

0     417.5107
1      63.8885
2     961.5917
3    1354.1170
4    4810.2163
5    5985.2808
6     121.7160
7     298.4112
8    1005.8544
9     113.2488
Name: Vendas Custo, dtype: float64

In [14]:
vendasglobais['Margem Bruta'].head(10)

0      86.7293
1      17.1295
2     346.6963
3     488.2190
4     999.2237
5    3050.4692
6      43.8840
7     152.0888
8     208.9456
9      40.8312
Name: Margem Bruta, dtype: float64

In [15]:
vendasglobais['Vendas'].head(10)

0     504.240
1      81.018
2    1308.288
3    1842.336
4    5809.440
5    9035.750
6     165.600
7     450.500
8    1214.800
9     154.080
Name: Vendas, dtype: float64

In [16]:
vendasglobais['Desconto'].head(10)

0       0.000
1       3.858
2     218.048
3     307.056
4       0.000
5    1807.150
6      27.600
7      90.100
8       0.000
9      25.680
Name: Desconto, dtype: float64

In [17]:
vendasglobais['Frete'].head(10)

0    64.69
1    53.28
2    30.97
3    76.90
4    64.69
5    23.12
6    30.97
7    23.12
8    64.69
9    76.90
Name: Frete, dtype: float64

In [18]:
vendedores = pd.read_csv('Dados/Vendedores.csv')

In [19]:
fornecedores = pd.read_csv('Dados/Fornecedores.csv')

In [20]:
transportadoras = pd.read_csv('Dados/Transportadoras.csv')

In [21]:
planilha_total = pd.merge(vendasglobais, vendedores, on='VendedorID')
planilha_total = pd.merge(planilha_total, fornecedores, on='FornecedorID')
planilha_total = pd.merge(planilha_total, transportadoras, on='TransportadoraID')

planilha_total.head()

,PedidoID,CategoriaID,CategoriaNome,CategoriaDescrição,ClienteID,ClienteNome,ClienteContato,ClienteCidade,ClientePaísID,ClientePaís,...,Qtde,Data,VendedorID,ProdutoID,ProdutoNome,TransportadoraID,FornecedorID,VendedorNome,FornecedorNome,TransportadoraNome
0,10413.0,1.0,Men´s Clothes,Fashion for Men,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,24.0,20/10/2010,5.0,1.0,Lenin Jeansshorts,1.0,1.0,Stefanos Tsitsipas,USA Jeans,General Shipping
1,10500.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,12.0,14/04/2011,5.0,15.0,Sumi Underwear,1.0,6.0,Stefanos Tsitsipas,Surf Trip,General Shipping
2,10832.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,16.0,19/11/2011,5.0,44.0,Okkaba Skin Jackets,1.0,20.0,Stefanos Tsitsipas,Wills Surfwear,General Shipping
3,10923.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,24.0,05/06/2012,4.0,67.0,X-Dress,1.0,16.0,Patrick Mcenroe,L.A. Sports,General Shipping
4,10413.0,2.0,Womens wear,Fashion for Women,41.0,Elle Fashion & Design,Louise Davu,Toulouse,FRA,France,...,14.0,20/10/2010,5.0,76.0,Minnki Pälsii,1.0,23.0,Stefanos Tsitsipas,Pälsii Sports,General Shipping